/* Custom CSS
-------------------------*/
/div.logo {
    background: url([[setting:logo]]) 0 0 no-repeat;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}


/* {
   color: tomato !important;
   background-color: white !important;
 }

p {
  border-style: solid;
  border-width: 2px;
  border-color: light grey;
  box-shadow: 2px 2px pink;
}

p:hover, p:hover *{
  background-color: #e8d8d8 !important;
  font-size: 20px;
}

p {
  transition: all 1s;
}*/

img.small-logo {
    float: left;
    height: 35px;
    margin: 3px 10px 3px 0;
}

@media (max-width: 767px) {
    img.small-logo {
        margin: 3px;
    }
}

@media (max-width: 480px) {
    .navbar img.small-logo {
        max-width: 150px;
    }
    /* Applying accesshide styles */
    .navbar .small-logo-container + .brand {
        position: absolute;
        left: -10000px;
        font-size: 1em;
        font-weight: normal;
    }
}

/*footer * {
  color: black !important;
}

h1 {
  color: #a94444;
  text-shadow: 2px 2px #a95959;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
